*.rb linguist-language=Python

data/brainweb/simulator/* linguist-vendored
jquery.js linguist-vendored=false

data/brainweb/simulator/doc/* linguist-documentation
docs/formatter.rb linguist-documentation=false
